body {
  background: #020617;
  color: white;
  font-family: sans-serif;
  padding: 20px;
}

.card {
  background: rgba(255,255,255,0.05);
  padding: 20px;
  border-radius: 15px;
  text-align: center;
}

.stats {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: #3b82f6;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #2563eb;
}