body {
  margin: 0;
  background: #020617;
  color: white;
  font-family: 'Segoe UI', sans-serif;
  
}

/* LAYOUT */
.app {
  display: flex;
  height: 100vh;
}

/* SIDEBAR ESQUERDA */
.sidebar {
  width: 260px;
  background: #0f172a;
  padding: 20px;
  border-right: 1px solid #1e293b;
}

/* CENTRAL */
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* CENTRALIZA TUDO */
  gap: 20px;
}

/* SCRAMBLE */
.topo {
  font-size: 20px;
  text-align: center;
}

/* TIMER */
#timer {
  font-size: 120px;
  font-weight: bold;
}

/* CUBO */
#cubo {
  background: #0f172a;
  padding: 20px;
  border-radius: 16px;
}

.botoes {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

button {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: #3b82f6;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #2563eb;
}

.stats {
  background: #020617;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 20px;
}

.stats p {
  margin: 6px 0;
  font-size: 14px;
}

@media (max-width: 768px) {

body {
  touch-action: manipulation;
  overscroll-behavior: none;
}

  .app {
    flex-direction: column;
    align-items: center;
  }

  .sidebar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
  }

  #timer {
    font-size: 60px;
  }

  #scramble {
    font-size: 14px;
    text-align: center;
    padding: 0 10px;
  }

  button {
    width: 100%;
    margin-top: 10px;
  }

}